
<section id="game" class="black">
	<header class="text-big">Get <span id="goalNumber">?</span> in less than <span id="secondsLeft">??</span></header>

	<div id="gameLayers">
		<canvas id="bricksOverlay"></canvas>
		<div id="bricks"></div>
	</div>

	<footer>
		<div id="bar-pluses">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</div>
		<div id="bar-points"><span id="points">0</span></div>
		<div id="bar-estrellas">
			<span class="bar-estrellas-1">50</span>
			<span class="bar-estrellas-2">100</span>
			<span class="bar-estrellas-3">200</span>
		</div>
	</footer>
</section>

