
<section id="gameWon">

	<h1>YOU WON!</h1>

	<div id="totalScore">0</div>

	<div id="stars">
		<img id="starLeft" src="img/items/star.png" alt="Star" />
		<img id="starCenter" src="img/items/star.png" alt="Star" />
		<img id="starRight" src="img/items/star.png" alt="Star" />
	</div>
	<div id="bolado"></div>
	<ul class="actions">
		<li id="gotoMainMenu"> <img src="img/items/level_prev.png" alt="Goto main menu" /> </li>
		<li id="replay" > <img src="img/items/level_replay.png" alt="Replay" /> </li>
		<li id="playNextLevel"> <img  src="img/items/level_next.png" alt="Play next level" /> </li>
	</ul>

</section>


