<div id="dots"></div>

<section id="game" class="black">
	<header class="text-big">Goal: <span id="goalNumber">?</span></header>

	<div id="bricks">
		<svg id="bricksOverlay" style="pointer-events: none;"></svg>
	</div>

    <footer>
	<div id="bar-pluses">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</div>
	<div id="bar-points"><span id="points">0</span></div>
	<div id="bar-estrellas">
	    <span class="bar-estrellas-1">50</span>
	    <span class="bar-estrellas-2">100</span>
	    <span class="bar-estrellas-3">200</span>
	</div>
    </footer>
</section>

