
<section id="gameWon">

	<h1>Level <span id="level">?</span> completed!</h1>

	<div id="totalScore">0</div>

	<div id="stars">
		<img id="starLeft" src="img/items/star.png" alt="Star" />
		<img id="starCenter" src="img/items/star.png" alt="Star" />
		<img id="starRight" src="img/items/star.png" alt="Star" />
	</div>
	<div id="bolado"></div>
	<ul class="actions">
		<li id="gotoMainMenu"><i class="arrow-left"></i></li>
		<li id="replay"><i class="replay"></i></li>
		<li id="playNextLevel"><i class="arrow-right"></i></li>
	</ul>

</section>


