
<section id="gameWon">

	<h1>YOU WON!</h1>

	<div id="totalScore">0</div>

	<div id="stars">
		<img id="starLeft" src="img/items/star.png" alt="Star" />
		<img id="starCenter" src="img/items/star.png" alt="Star" />
		<img id="starRight" src="img/items/star.png" alt="Star" />
	</div>
	<div id="bolado"></div>
	<ul id="actions">
		<li>
			<img id="gotoMainMenu" src="img/items/level_prev.png" alt="Goto main menu" /><br>
			MAIN<br>MENU
		</li>
		<li>
			<img id="replay" src="img/items/level_replay.png" alt="Replay" /><br>
			REPLAY<br>LEVEL
		</li>
		<li>
			<img id="playNextLevel" src="img/items/level_next.png" alt="Play next level" /><br>
			NEXT<br>LEVEL
		</li>
	</ul>

</section>


