
<section id="options">
	<h1>Options</h1>
	
	<div class="setting-row">
		<div class="setting-label"><h3>Sounds</h3></div>
		<div class="setting-control"><div id="soundEnabled" class="setting setting-on"></div></div>
	</div>

	<div class="setting-row">
		<div class="setting-label"><h3>Music</h3></div>
		<div class="setting-control"><div id="soundEnabled" class="setting setting-on"></div></div>
	</div>
	
	<div id="actions">
		<img src="img/items/level_prev.png" id="backButton" alt="Back button" />
	</div>
</section>
