
<section id="options">
	<h1>Options</h1>
	
	<div class="setting-row">
		<div class="setting-label"><h3>Sounds</h3></div>
		<div class="setting-control"><div id="soundEnabled" class="setting"></div></div>
	</div>

	<div class="setting-row">
		<div class="setting-label"><h3>Music</h3></div>
		<div class="setting-control"><div id="musicEnabled" class="setting"></div></div>
	</div>
	
	<ul class="actions">
		<li><img src="img/items/level_prev.png" id="backButton" alt="Back button" /></li>
	</ul>
</section>
