
<section id="scores">
	<h1>Scores</h1>

	<div id="table"></div>
	
	<ul class="actions">
		<li id="gotoBack"><i class="arrow-left"></i></li>
	</ul>
</section>

<script id="templateSource" type="text/x-handlebars-template">
<table>
	<thead>
	<tr>
		<th>Player</th>
		<th>Score</th>
		<th>Level</th>
	</tr>
	</thead>
	<tbody>	
	{{#each scores}}
	<tr>
		<td>{{player_name}}</td>
		<td>{{value}}</td>
		<td>{{game_level_number}}</td>
	</tr>
	{{else}}
	<tr>
		<td colspan="3">No scores yet</td>
	</tr>
	{{/each}}
	</tbody>
</table>
</script>


