/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

$color-negro-light : #424b52;
$color-negro-dark : #363c42;
$color-gris-dark : #666d78;
$color-gris-light : #abb1bd;
$color-blanco-light : #f6f7fb;
$color-rojo-light : #fb6e52;
$color-verde-light: #48cfae;
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0; padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:$color-negro-light;
    background-image:url('../img/noise.png');
    font-family:'Source Sans Pro Light', 'Source Sans Pro', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: 100 !important;
    font-size:24px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    text-align: center;

}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

header {
    height: 100px;
    position:fixed;
    top:-120px; left: 0; right:0;
    padding-top: 10px;
    background: $color-negro-dark url('../img/noise.png');
    color: $color-gris-dark;
    text-shadow : 0px 1px 0px rgba(0,0,0,.2);
    small {
        font-size: 18px;
    }
    #moves {
        font-size: 48px;
        color: $color-blanco-light;
    }
    #bars {
        background: $color-gris-dark;
        height: 10px;
        position: absolute;
        bottom: -5px; left: 0px; right: 0px;
        width:100%;
        box-shadow: 0px 3px 0px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,.1);

        #bar-goal {
            background: $color-rojo-light;
            height: 10px;
            position: absolute;
            bottom: 0; left: 0px;
            width:75%;
        }
        #bar-points {
            background: $color-verde-light;
            height: 10px;
            position: absolute;
            bottom: 0; left: 0px;
            width:5%;
            transition: 1s;
            -webkit-transition: 1s;
            -webkit-border-top-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-bottomright: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

#bricks {
    opacity: 0;
    //-webkit-transform: scale(.1);
    // display properties
    flex-direction: column-reverse;
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    //justify-content: center;
    align-items: flex-start;
    // box properties
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 3px solid $color-negro-dark;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 3px 0px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,.1);
    overflow: hidden;
        background-clip: content-box;
        text-shadow : 0px 1px 0px rgba(255,255,255,.1);

    .brick {
        // position: absolute;
        color: $color-negro-light;
        font-size: 36px;
        width: 50px;
        height: 50px;
        background: #666d78;

        transition: .2s;
        -webkit-transition: .2s;


    }
}
.clicked {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: .9;
    -webkit-opacity: .9;
}
footer {
    position: fixed;
    bottom:-220px;
    left: 0;
    right: 0;
    text-shadow : 0px 1px 0px rgba(0,0,0,.2);
    #points {
        position: relative;
        background: $color-rojo-light;
        color: $color-blanco-light;
        font-size: 36px;
        width: 30%;
        margin:auto;
        padding: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 3px 0px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,.1);

    }
    #points:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $color-rojo-light;
        border-width: 15px;
        margin-left: -15px;
    }
}
