<div id="debug">
    <h6>Theme: </h6>
    <ul id="config-theme">
	<li data-config-theme="black">black</li>
	<li data-config-theme="pink">pink</li>
	<li data-config-theme="blue">blue</li>
	<li data-config-theme="tomato">tomato</li>
    </ul>
</div>

<section id="game" class="black">
    <header>
	<ul class="text-big">
		<li class="header-center" id="goalNumber"></li>
	</ul>
    </header>

   <div id="bricks">
    <svg id="bricksOverlay" style="pointer-events: none;"></svg>
   </div>

    <footer>

	<div id="bar-pluses">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</div>
	<div id="bar-points"><span id="points">0</span></div>
	<div id="bar-estrellas">
	    <span class="bar-estrellas-1">50</span>
	    <span class="bar-estrellas-2">100</span>
	    <span class="bar-estrellas-3">200</span>
	</div>
    </footer>
</section>

<section id="modal">
    <header>
	<ul class="text-big">
	    <li>&#8592;</li>
	    <li class="header-center"></li>
	    <li>&#8593;</li>
	</ul>
    </header>
    <span id="modal-text">HURRAY!</span>
    <span id="modal-points">21</span>
    <div id="modal-footer">
	<ul class="text-big">
	    <li class="reload">&#8592;</li>
	    <li >&#8594;</li>
	</ul>
    </div>
</section>

