<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ponup.numbers" version="0.9.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Numbers</name>
	<description>A simple math game. Are you fast doing simple arithmetic operations? Prove it!</description>
	<author email="android@ponup.com" href="http://ponup.com">Ponup Games</author>
	<content src="index.html" />
	<access origin="*" />

	<!-- Default icon for all platforms -->
	<icon src="res/icon.png" />

	<platform name="android">
		<icon src="res/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
		<icon src="res/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
		<icon src="res/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
		<icon src="res/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
		<icon src="res/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
	</platform>

	<!-- Default splash screen for all platforms -->
	<splash src="res/splash-screen.png" />

	<preference name="Fullscreen" value="false" />	
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="Orientation" value="portrait" />

</widget>
