<?xml version='1.0' encoding='utf-8'?>
<widget id="com.soki.numbers" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Numbers</name>
    <description>
        A Game about Numbers.
    </description>
    <author email="info@sokistudio.com" href="http://www.sokistudio.com">
        Soki Studio
    </author>
    <content src="index.html" />
    <access origin="*" />

	<!-- global preferences -->
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="Fullscreen" value="true" />
	<preference name="Orientation" value="portrait" />
	
    <!-- icons  -->
	<platform name="android">
		<icon src="www/img/icon/ldpi.png" density="ldpi" />
		<icon src="www/img/icon/mdpi.png" density="mdpi" />
		<icon src="www/img/icon/hdpi.png" density="hdpi" />
		<icon src="www/img/icon/xhdpi.png" density="xhdpi" />
	</platform>
	<platform name="ios">
		<!-- iOS 7.0+ -->
		<!-- iPhone / iPod Touch  -->
		<icon src="res/ios/icon-60.png" width="60" height="60" />
		<icon src="res/ios/icon-60@2x.png" width="120" height="120" />
		<!-- iPad -->
		<icon src="res/ios/icon-76.png" width="76" height="76" />
		<icon src="res/ios/icon-76@2x.png" width="152" height="152" />
		<!-- iOS 6.1 -->
		<!-- Spotlight Icon -->
		<icon src="res/ios/icon-40.png" width="40" height="40" />
		<icon src="res/ios/icon-40@2x.png" width="80" height="80" />
		<!-- iPhone / iPod Touch -->
		<icon src="res/ios/icon.png" width="57" height="57" />
		<icon src="res/ios/icon@2x.png" width="114" height="114" />
		<!-- iPad -->
		<icon src="res/ios/icon-72.png" width="72" height="72" />
		<icon src="res/ios/icon-72@2x.png" width="144" height="144" />
		<!-- iPhone Spotlight and Settings Icon -->
		<icon src="res/ios/icon-small.png" width="29" height="29" />
		<icon src="res/ios/icon-small@2x.png" width="58" height="58" />
		<!-- iPad Spotlight and Settings Icon -->
		<icon src="res/ios/icon-50.png" width="50" height="50" />
		<icon src="res/ios/icon-50@2x.png" width="100" height="100" />
	</platform>

	
</widget>
