
section#gameWon {
	background: url('../img/items/game_over_bg.png') no-repeat;

	h1 {
		color: #4C535C;
		padding-top: 90px;
		font-size: 60px;
	}

	#totalScore { color: #4ED1B1; font-size: 80px; margin-top: 100px; }	
	#totalScore { color: #E96473; font-size: 80px; margin-top: 100px; }

	#stars { margin-top: 100px; text-align: center; }
	#starLeft, #starRight { height: 50px; }

	#actions { margin-top: 100px; }
}

