
section#options {
	background-image: url('../img/menu_header.png'), url('../img/bg_bolado.png');
	background-repeat: no-repeat, repeat-x;
	background-position: top left, bottom left;
	background-size: 90%, 100%;
}
