
#scores {
	h1 {
		color: white;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 70px;
		background:
			url('../img/bg_bolado.png') bottom left repeat-x,
			url('../img/bg_matel.png');
		background-size: 40%, 20%;
	}

	th {
		color: #E35664;
	}

	td {
		color: white;
	}
}

