@charset "UTF-8";

/* :: VARIABLES :: */
$color-negro-light : #424b52;
$color-negro-dark : #363c42;

$color-gris-dark : #666d78;
$color-gris-light : #abb1bd;

$color-blanco-light : #f6f7fb;

$color-rojo-light : #fb6e52;
$color-verde-light: #48cfae;

$color-rosa-light: #ec87bf;
$color-rosa-dark: #d272af;

$color-azul-light: #5d9cec;
$color-azul-dark: #4c89d9;

$color-tomato-light: #fb6e52;
$color-tomato-dark: #e9573e;
