@charset "UTF-8";

$color-negro-light : #424b52;
$color-negro-dark : #363c42;

$color-blanco-light : #f6f7fb;

$color-rojo-light : #ed5564;
$color-rojo-dark :  #db4453;

$color-verde-light: #48cfae;

