@charset "UTF-8";

@mixin transition($transition:.2s) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin text-shadow($horizOffset:0px, $vertOffset:3px, $blur:0px, $color:rgba(0,0,0,.1)) {
     -webkit-text-shadow: $horizOffset $vertOffset $blur $color;
        -moz-text-shadow: $horizOffset $vertOffset $blur $color;
         -ms-text-shadow: $horizOffset $vertOffset $blur $color; /* IE 10+ */
          -o-text-shadow: $horizOffset $vertOffset $blur $color;
             text-shadow: $horizOffset $vertOffset $blur $color;
}

@mixin border-radius ( $value: 5px ) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;

  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  //-ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)”;
  filter: alpha(opacity= $value * 100 );
  zoom: 1;
}

@mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin font-size( $value: 12 ) {
  font-size: value + px;
  font − size: (value / 10) + rem;
}

