@charset "UTF-8";

@mixin transition($transition:.2s) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin text-shadow($horizOffset:0px, $vertOffset:3px, $blur:0px, $color:rgba(0,0,0,.2)) {
     -webkit-text-shadow: $horizOffset $vertOffset $blur $color;
        -moz-text-shadow: $horizOffset $vertOffset $blur $color;
         -ms-text-shadow: $horizOffset $vertOffset $blur $color; /* IE 10+ */
          -o-text-shadow: $horizOffset $vertOffset $blur $color;
             text-shadow: $horizOffset $vertOffset $blur $color;
}

@mixin border-radius ( $value: 5px ) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;

  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin opacity ( $value: 0.5 ) {
  opacity: $value;
  //-ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)”;
  filter: alpha(opacity= $value * 100 );
  zoom: 1;
}

@mixin transform($transform){
     -webkit-transform: $transform;
         -ms-transform: $transform;
        -moz-transform: $transform;
          -o-transform: $transform;
             transform: $transform;
}



@mixin box-shadow( $horiz : 0px , $vert : 3px , $blur : 0px , $spread : 0px , $color : rgba(0,0,0,0.2) ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}



@mixin font-size( $value: 12 ) {
  font-size: value + px;
  font − size: (value / 10) + rem;
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin hide-text{
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
