@charset "UTF-8";
html, body, #canvas, section {
  width: 100%;
  height: 100%; }

section {
  max-width: 480px; }

* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Fredoka One', Fredoka, "Fredoka", Fredoka One, 'HelveticaNeue', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-size: 1.3em;
  text-align: center;
  background-color: #434A54;
  background-size: 20%; }

header {
  height: 55px;
  overflow: hidden;
  -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
  /* IE 10+ */
  -o-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
  header li {
    position: absolute;
    display: block;
    margin: auto;
    width: 33%;
    height: 100%; }
    header li.header-center {
      left: 0;
      right: 0;
      font-size: .9em;
      padding-top: 5px; }

ul {
  list-style-type: none; }
  ul li {
    display: inline; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

.text-big {
  font-size: 1.9em; }

#dots {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/bg_noise.png");
  pointer-events: none; }

@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }
#intro {
  width: 100%;
  height: 100%;
  background: url("../img/bg_matel.png"); }
  #intro img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

#menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #menu header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: url("../img/menu_header.png") top left no-repeat, url("../img/bg_bolado.png") bottom left repeat-x, url("../img/bg_matel.png");
    background-size: 90%, 100%, 20%; }
  #menu footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #434A54;
    height: 40%;
    text-align: center;
    background: url("../img/menu_cuchara.png") no-repeat 140% 80% #434A54;
    -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    -ms-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    /* IE 10+ */
    -o-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
    #menu footer #startGame {
      font-size: 2em;
      color: #f6f7fb;
      position: absolute;
      margin: auto;
      top: 38%;
      left: 0;
      right: 0;
      bottom: 42%; }
    #menu footer ul {
      position: absolute;
      bottom: 15%;
      width: 100%;
      color: #ed5564; }
      #menu footer ul li {
        display: inline-block;
        width: 30%; }
        #menu footer ul li a {
          color: #E35664; }
      #menu footer ul li.hidden {
        display: none; }

div.setting {
  width: 65px;
  height: 65px; }

div.setting-on {
  background-image: url("../img/items/setting_on.png"); }

div.setting-off {
  background-image: url("../img/items/setting_off.png"); }

#options {
  position: relative; }
  #options h1 {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
    background: url("../img/bg_bolado.png") bottom left repeat-x, url("../img/bg_matel.png");
    background-size: 40%, 20%; }
  #options h3 {
    color: white; }
  #options div.setting-row {
    clear: both;
    margin-bottom: 20px; }
    #options div.setting-row div.setting-label {
      width: 50%;
      float: left;
      line-height: 65px;
      vertical-align: middle;
      text-align: right; }
    #options div.setting-row div.setting-control {
      width: 50%;
      float: left;
      text-align: center; }
      #options div.setting-row div.setting-control div.setting {
        margin: auto; }
  #options #actions {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px; }

#game {
  width: 100%;
  height: 100%; }
  #game.black {
    background: #424b52 url("../img/noise.png"); }
    #game.black header, #game.black footer {
      background: #363c42 url("../img/noise.png"); }
      #game.black header #bar-pluses, #game.black header #bar-points, #game.black header small, #game.black footer #bar-pluses, #game.black footer #bar-points, #game.black footer small {
        color: #424b52; }
      #game.black header #bar-points, #game.black footer #bar-points {
        background: #424b52; }
  #game header {
    color: #f6f7fb; }
    #game header small {
      font-size: .5em;
      position: absolute;
      bottom: 3px;
      left: 0;
      right: 0;
      margin: auto; }
  #game footer {
    position: fixed;
    bottom: -40px;
    left: 0;
    right: 0;
    height: 40px; }
    #game footer #bar-pluses {
      letter-spacing: 0.5em;
      position: absolute;
      bottom: 14px;
      z-index: -1;
      font-size: .6em; }
    #game footer #bar-points {
      background: #424b52 url("../img/noise.png");
      height: 20px;
      position: absolute;
      bottom: 10px;
      left: 0px;
      width: 5%; }
      #game footer #bar-points #points {
        position: relative;
        top: 4px;
        right: 4px;
        font-size: .55em;
        font−weight: bold !important;
        float: right;
        padding-right: 3px;
        padding-left: 3px;
        display: block;
        height: 12px;
        text-align: center;
        background: #f6f7fb; }
    #game footer #bar-estrellas {
      z-index: 15;
      font-size: .6em;
      font-weight: 400;
      color: #f6f7fb;
      padding: 13px; }
      #game footer #bar-estrellas .bar-estrellas-1 {
        float: left;
        margin-left: 15%; }
      #game footer #bar-estrellas .bar-estrellas-3 {
        float: right;
        margin-right: 15%; }
  #game #gameLayers {
    position: relative;
    width: 100%;
    height: 100%; }
  #game #bricksOverlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px; }
  #game #bricks {
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden; }
    #game #bricks .brick {
      position: absolute;
      vertical-align: middle;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 1.3em;
      font-weight: bold;
      background: #424b52;
      color: #f6f7fb;
      border-bottom: 3px solid #363c42; }

#goalNumber {
  color: yellow; }

#secondsLeft {
  color: cyan; }

#gameLost {
  position: relative;
  background: url("../img/items/game_over_bg.png") no-repeat; }
  #gameLost h1 {
    color: #4C535C;
    padding-top: 90px;
    font-size: 60px; }
  #gameLost #totalScore {
    color: #E96473;
    font-size: 80px;
    margin-top: 100px; }
  #gameLost #stars {
    margin-top: 100px;
    text-align: center; }
  #gameLost #starLeft, #gameLost #starRight {
    height: 50px; }
  #gameLost #actions {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0px; }

#gameWon {
  position: relative;
  background: url("../img/items/game_over_bg.png") no-repeat; }
  #gameWon h1 {
    color: #4C535C;
    padding-top: 90px;
    font-size: 60px; }
  #gameWon #totalScore {
    transition: font 0.3s ease;
    color: #4ED1B1;
    font-size: 80px;
    margin-top: 100px; }
  #gameWon #stars {
    margin-top: 100px;
    text-align: center; }
  #gameWon #starLeft, #gameWon #starRight {
    height: 50px; }
  #gameWon #actions {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0px; }

#scores {
  position: relative; }
  #scores h1 {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
    background: url("../img/bg_bolado.png") bottom left repeat-x, url("../img/bg_matel.png");
    background-size: 40%, 20%; }
  #scores table {
    width: 100%; }
  #scores th {
    color: #E35664; }
  #scores td {
    color: white; }
  #scores #actions {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px; }
