@charset "UTF-8";

@import "colors";
@import "mixins";

html, body, #canvas, section {
	width: 100%;
	height: 100%;
}

section {
	max-width: 480px;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family:  'Fredoka One', Fredoka, "Fredoka", Fredoka One, 'HelveticaNeue', Helvetica, Arial, sans-serif;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:1.3em;
    text-align: center;
    background-color: #434A54;
    background-size: 20%;
}

header {
    height: 55px;
    overflow: hidden;
   @include text-shadow();
    li {
        position: absolute;
        display: block;
        margin: auto;
        width: 33%;
        height: 100%;
        &.header-center{left:0; right:0; font-size:.9em;padding-top:5px;}
    }

}

ul { list-style-type: none; li { display: inline; } }
a { text-decoration: none; }

.hidden { display: none; }
.text-big { font-size: 1.9em; }

#dots {
    position: fixed;
    width: 100%; height: 100%;
    z-index: 200;
    top:0; left: 0; bottom: 0; right: 0;
    background: url('../img/bg_noise.png');
    pointer-events: none;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@import 'scenes/intro';
@import 'scenes/mainMenu';
@import 'scenes/options';
@import 'scenes/game';
@import 'scenes/gameLost';
@import 'scenes/gameWon';

