html, body, #canvas, section {
  width: 100%;
  height: 100%; }

section {
  max-width: 1080px;
  margin: auto;
  left: 0%;
  right: 0%; }

* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none; }

body {
  font-family: 'Fredoka One', Fredoka, "Fredoka", Fredoka One, 'HelveticaNeue', Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-size: 1.3em;
  text-align: center;
  background-color: #424b52; }

.hidden {
  display: none; }

ul.actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  padding-top: 40px;
  color: #ed5564; }
  ul.actions li {
    width: 33.33%;
    text-align: center;
    cursor: pointer; }
  ul.actions li:first-child {
    float: left; }
  ul.actions li:last-child {
    float: right; }

#game {
  background: url("../img/bg_bolado.png") bottom center repeat-x, url("../img/bg_matel.png"); }
  #game header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ed5564;
    background: #f6f7fb;
    height: 55px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(237, 85, 100, 0.5);
    -moz-box-shadow: 0px 4px 0px 0px rgba(237, 85, 100, 0.5);
    box-shadow: 0px 4px 0px 0px rgba(237, 85, 100, 0.5); }
  #game footer {
    position: fixed;
    left: 0;
    right: 0;
    height: 100px; }
  #game #gameLayers {
    position: relative;
    width: 100%;
    height: 100%; }
  #game #bricksOverlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px; }
  #game #bricks {
    border: 1px solid cyan;
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 0;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    padding: 60px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2); }
    #game #bricks .brick {
      position: absolute;
      vertical-align: middle;
      margin-right: 5px;
      margin-bottom: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      font-size: 1.3em;
      font-weight: bold;
      background: #424b52;
      color: #f6f7fb;
      border-bottom: 3px solid #363c42; }

#goalNumber, #secondsLeft {
  color: #48cfae; }

#gameWon, #gameLost {
  position: relative;
  background: url("../img/bg_matel.png"), url("../img/bg_bolado.png") bottom center repeat-x; }
  #gameWon ul.actions, #gameLost ul.actions {
    background: #424b52; }
  #gameWon h1, #gameLost h1 {
    position: absolute;
    height: 20%;
    margin: auto;
    width: 90%;
    top: 10%;
    right: 0%;
    left: 0%;
    color: #424b52;
    font-size: 3em;
    -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    -ms-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    /* IE 10+ */
    -o-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: gameWonHeader;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: gameWonHeader;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.5s;
    -o-animation-name: gameWonHeader;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: gameWonHeader;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }
  #gameWon #stars, #gameLost #stars {
    position: absolute;
    bottom: 30%;
    right: 0%;
    left: 0%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: gameStars;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: 1s;
    -moz-animation-name: gameStars;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 1.5s;
    -o-animation-duration: 1s;
    -o-animation-name: gameStars;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: gameStars;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }
    #gameWon #stars img, #gameLost #stars img {
      margin: 15px;
      -webkit-animation-delay: 1.5s;
      -webkit-animation-duration: 2s;
      -webkit-animation-name: gameStar;
      -webkit-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -moz-animation-delay: 1.5s;
      -moz-animation-duration: 2s;
      -moz-animation-name: gameStar;
      -moz-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -o-animation-delay: 1.5s;
      -o-animation-duration: 2s;
      -o-animation-name: gameStar;
      -o-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      animation-delay: 1.5s;
      animation-duration: 2s;
      animation-name: gameStar;
      animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */ }
  #gameWon #starLeft, #gameWon #starRight, #gameLost #starLeft, #gameLost #starRight {
    height: 50px; }
  #gameWon #totalScore, #gameLost #totalScore {
    width: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    position: absolute;
    border: 4px solid rgba(237, 85, 100, 0.5);
    height: 20%;
    margin: auto;
    top: 40%;
    bottom: 40%;
    right: 0%;
    left: 0%;
    transition: font 0.3s ease;
    color: #48cfae;
    font-size: 3em;
    background: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    -ms-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    /* IE 10+ */
    -o-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: gameTotalScore;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: gameTotalScore;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    -o-animation-name: gameTotalScore;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: gameTotalScore;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }

#gameWon #totalScore {
  color: #48cfae; }

#gameLost #totalScore {
  color: #db4453; }
#gameLost ul.actions li:last-child {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

@-webkit-keyframes gameWonHeader {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes gameWonHeader {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes gameWonHeader {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes gameWonHeader {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes gameTotalScore {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes gameTotalScore {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes gameTotalScore {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes gameTotalScore {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes gameStars {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes gameStars {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes gameStars {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes gameStars {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes gameStar {
  to {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg); } }
@-moz-keyframes gameStar {
  to {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg); } }
@-ms-keyframes gameStar {
  to {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg); } }
@keyframes gameStar {
  to {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg); } }
#intro img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  -webkit-transform: rotate(-9deg) scale(0.5);
  -ms-transform: rotate(-9deg) scale(0.5);
  -moz-transform: rotate(-9deg) scale(0.5);
  -o-transform: rotate(-9deg) scale(0.5);
  transform: rotate(-9deg) scale(0.5);
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-name: introAnim;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: introAnim;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0.2s;
  -o-animation-name: introAnim;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-name: introAnim;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-timing-function: ease-in-out;
  /* Chrome, Safari, Opera */
  animation-timing-function: ease-in-out; }

@-webkit-keyframes introAnim {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -moz-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1); } }
@-moz-keyframes introAnim {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -moz-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1); } }
@-ms-keyframes introAnim {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -moz-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1); } }
@keyframes introAnim {
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    -webkit-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -moz-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1); } }
#menu {
  position: absolute;
  top: 0;
  left: 0; }
  #menu header {
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 60%;
    background: url("../img/menu_header.png") top center no-repeat, url("../img/bg_bolado.png") bottom center repeat-x, url("../img/bg_matel.png");
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: menuHeaderAnim;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: menuHeaderAnim;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0s;
    -o-animation-duration: 0.5s;
    -o-animation-name: menuHeaderAnim;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: menuHeaderAnim;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */ }
  #menu footer {
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    width: 100%;
    position: absolute;
    bottom: -50%;
    left: 0;
    background: #434A54;
    height: 40%;
    text-align: center;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: menuFooterAnim;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: menuFooterAnim;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -o-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    -o-animation-name: menuFooterAnim;
    -o-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: menuFooterAnim;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    -ms-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    /* IE 10+ */
    -o-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2); }
    #menu footer #startGame {
      position: absolute;
      bottom: 130px;
      right: 0%;
      left: 0%;
      font-size: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f6f7fb; }

@-webkit-keyframes menuHeaderAnim {
  to {
    top: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@-moz-keyframes menuHeaderAnim {
  to {
    top: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@-ms-keyframes menuHeaderAnim {
  to {
    top: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@keyframes menuHeaderAnim {
  to {
    top: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@-webkit-keyframes menuFooterAnim {
  to {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@-moz-keyframes menuFooterAnim {
  to {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@-ms-keyframes menuFooterAnim {
  to {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
@keyframes menuFooterAnim {
  to {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1; } }
#scores, #options {
  position: relative; }
  #scores h1, #options h1 {
    color: white;
    position: absolute;
    height: 10%;
    margin: auto;
    width: 90%;
    top: 10%;
    right: 0%;
    left: 0%;
    color: #ed5564;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center; }

#scores table {
  width: 90%;
  position: absolute;
  margin: auto;
  height: 60%;
  top: 25%;
  left: 0%;
  right: 0%; }
#scores th {
  color: #E35664; }
#scores td {
  color: white; }

#options .settings {
  width: 90%;
  position: absolute;
  margin: auto;
  height: 60%;
  top: 25%;
  left: 0%;
  right: 0%; }
#options div.setting {
  width: 65px;
  height: 65px; }
#options div.setting-on {
  background-image: url("../img/items/setting_on.png"); }
#options div.setting-off {
  background-image: url("../img/items/setting_off.png"); }
#options h3 {
  color: white; }
#options div.setting-row {
  clear: both;
  margin-bottom: 50px; }
  #options div.setting-row div.setting-label {
    width: 50%;
    float: left;
    line-height: 65px;
    vertical-align: middle;
    text-align: right; }
  #options div.setting-row div.setting-control {
    width: 50%;
    float: left;
    text-align: center; }
    #options div.setting-row div.setting-control div.setting {
      margin: auto; }
