/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* :: VARIABLES :: */
/* :: MIXINS :: */
/* :: CONFIGURACIONES GLOBALES :: */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro Light', 'Source Sans Pro', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: 100 !important;
  box-sizing: border-box; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #424b52;
  background-image: url("../img/noise.png");
  font-size: 1.2em;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center; }

ul {
  list-style-type: none; }

header {
  height: 100px;
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  padding-top: 10px;
  background: #363c42 url("../img/noise.png");
  color: #666d78;
  -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -ms-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  /* IE 10+ */
  -o-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
  header small {
    font-size: .9em; }
  header #moves {
    font-size: 2em;
    color: #f6f7fb; }
  header #bars {
    background: #666d78;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    right: 0px;
    width: 100%;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
    header #bars #bar-goal {
      background: #fb6e52;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 75%; }
    header #bars #bar-points {
      background: #48cfae;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 5%;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }

#bricks {
  z-index: 3;
  opacity: 0;
  flex-direction: column-reverse;
  display: flex;
  /* or inline-flex */
  flex-wrap: wrap;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
  background-clip: content-box;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1); }
  #bricks .brick {
    color: #424b52;
    font-size: 1.8em;
    width: 50px;
    height: 50px;
    background: #666d78;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  #bricks #cut {
    height: 7px;
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    width: 120%;
    background-image: url("../img/cut.png");
    z-index: 6; }

.clicked {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  opacity: .9;
  -webkit-opacity: .9; }

.puntos-hey {
  animation: puntos-hey .3s;
  -webkit-animation: puntos-hey .3s; }

@keyframes puntos-hey {
  0%,100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }
@-webkit-keyframes puntos-hey {
  0%,100% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }
footer {
  position: fixed;
  bottom: -220px;
  left: 0;
  right: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
  footer #points {
    position: relative;
    background: #fb6e52 url("../img/noise.png");
    color: #f6f7fb;
    font-size: 2em;
    width: 30%;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
  footer #points:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fb6e52;
    border-width: 15px;
    margin-left: -15px; }

#modal {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: -200%;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #f6f7fb;
  -webkit-text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  -ms-text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  /* IE 10+ */
  -o-text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1); }
  #modal #modal-points, #modal #modal-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto; }
  #modal #modal-points {
    font-size: 7em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto; }
  #modal #modal-text {
    font-size: 2em;
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto; }
  #modal #modal-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px; }
    #modal #modal-header li {
      position: absolute;
      display: block;
      margin: auto;
      width: 33%;
      padding: 15px; }
      #modal #modal-header li#modal-header-title {
        left: 0;
        right: 0; }
      #modal #modal-header li:first-child {
        left: 0px; }
      #modal #modal-header li:last-child {
        right: 0px; }
      #modal #modal-header li:hover {
        background: rgba(246, 247, 251, 0.3); }
  #modal #modal-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    font-size: 1.4em; }
    #modal #modal-footer li {
      display: block;
      width: 50%;
      padding: 20px;
      background: rgba(246, 247, 251, 0.1); }
      #modal #modal-footer li:first-child {
        float: left; }
      #modal #modal-footer li:last-child {
        float: right; }
      #modal #modal-footer li:hover {
        background: rgba(246, 247, 251, 0.3); }

.win {
  background: rgba(72, 207, 174, 0.9); }

.lose {
  background: rgba(251, 110, 82, 0.9); }

/* :: MEDIA QUERIES :: */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }

/*# sourceMappingURL=index.css.map */
