@charset "UTF-8";

@import "colors";
@import "mixins";

.debug {  border: 0px dashed rgba(255,255,255,.2); }

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
        font-family: "Fredoka One";
        src: url('../fonts/FredokaOne-Regular.eot');
        src: url('../fonts/FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FredokaOne-Regular.svg#Fredoka One') format('svg'),
        url('../fonts/FredokaOne-Regular.woff') format('woff'),
        url('../fonts/FredokaOne-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

html, body, section {
	width: 100%;
	height: 100%;

}

@mixin numbersSprite ($posX:0px, $posY:0px, $width:48px, $height:48px) { 
        background: url('../img/numbers_sprite.png') no-repeat; 
        background-position: $posX $posY;
        width: $width;
        height: $height;
    }

section {
    position: absolute;
    max-width: 1080px;
	max-height: 720px;
    margin:auto;
    left: 0%; right: 0%; top: 0%; bottom: 0%;
    @extend .debug;
    background: url('../img/pattern_cloth.png') $color-negro-light;

}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0; padding: 0; box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 { font-weight: normal;}

ul { list-style-type: none; li { display: inline-block; } }

a { text-decoration: none; }

body {
    font-family:  "Fredoka One", Fredoka, sans, sans-serif;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:1.4em;
    text-align: center;
    background: $color-negro-dark;

    color: $color-blanco-light;
}

.hidden { display: none; }

ul.actions {
    position: absolute;
    left: 0%; right: 0%; bottom: 0;
    width: 100%; height: 120px;
    margin:auto;
    @extend .display-flex;
    color: $color-rojo-light;
    li{
        @extend .display-flex;
        width:33%; 
        height: 100%;
        cursor:pointer;
        @extend .debug;
    }
    li:first-child{float: left; }
    li:last-child{float: right; }
    @extend .debug;

}

#game {
    
    background:
        url('../img/pattern_cloth.png'),
        url('../img/bg_bolado.png') 50% 85%  repeat-x,
        url('../img/bg_matel.png') ;

    header{
        color: $color-rojo-light;
        background: $color-blanco-light;
        height: 100px;
        border-bottom: 5px solid $color-rojo-dark;
    }

    footer {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        @extend .debug;
        background: $color-negro-light;
        color: $color-gris-light;
    }
    #secondsLeft { 
        position: absolute;
        right: 23px;
        top:23px;
        font-size: 1.3em;
        padding-top: 8px;
        
        width: 50px;
        height: 50px;
        color: $color-blanco-light;
        @include border-radius(50%);
        background: $color-rojo-light;
    }

    #goalLabel {
        position: absolute;
        margin: auto;
        left: 0%; 
        top:35px;
        font-size: 1em;
        width: 50%;
        padding-right: 40px;
        text-align: right;
        color: $color-gris-light;
    }
    #goalNumber {
        position: absolute;
        margin: auto;
        left: 45%; right: 45%;
        top:10px;
        font-size: 3em;
        width: 10%;
        color: $color-verde-light;
    }
    #gameLayers {
        width: 100%;
        height: 100%;
	position: relative;
    }

    #bricksOverlay { //canvas layer
	position: absolute;
        width: 100%;
        height: 100%;
	top: 0px;
	left: 0px;
        z-index: 100;
    }

    #bricks {
	position: absolute;
        width: 100%;
        height: 100%;

        z-index: 50;
        opacity: 0;
        top: 0px;
        left: 0px;
        margin: auto;
        padding:60px;
        background: #fff;
        @include border-radius(10px);
        @include box-shadow();

        .brick {
            position: absolute;
            vertical-align: middle;
            margin: 10px;
            @include border-radius(5px);
            font-size: 1.3em;
            font-weight: bold;
            background: $color-negro-light;
            color: $color-blanco-light;
            border-bottom: 3px solid $color-negro-dark;
        }
    }
}

#gameWon, #gameLost {
    background:
    url('../img/bg_matel.png'),
    url('../img/bg_bolado.png') bottom center repeat-x;
    ul.actions {background: $color-negro-light; }
    h1 {
        position: absolute;
        height: 20%;
        margin: auto;
        width: 90%;
        top:10%; right: 0%; left: 0%;
        color: $color-negro-light;
        font-size: 3em;
        @include text-shadow();
        @include opacity(0);
        @include transform(scale(.1));
        @include animation (0s,.5s,gameWonHeader);

	span {
		color: lightgreen;
	}
    }
    #stars {
        position: absolute;
        bottom:30%; right: 0%; left: 0%;
        height: 20%;
        @extend .display-flex;
        z-index: 10;
        img {
            margin: 15px;
            @include animation (1.5s,2s,gameStar);
        }
        @include opacity(0);
        @include transform(scale(.1));
        @include animation (1.5s,1s,gameStars);
    }
    #starLeft, #starRight { height: 50px; }
    #totalScore {
        width: 50%;
        @include border-radius(10px);
        position: absolute;
        border: 4px solid rgba($color-rojo-light,.5);
        height: 20%;
        margin: auto;
        top:40%;bottom:40%; right: 0%; left: 0%;
        transition: font 0.3s ease;
        color: $color-verde-light;
        font-size: 3em;
        background: $color-blanco-light;
        @extend .display-flex;
        @include text-shadow(0px, 3px, 0px, rgba(0,0,0,.1));
        z-index: 9;
        @include opacity(0);
        @include transform(scale(.1));
        @include animation (.5s,.5s,gameTotalScore);
    }
}


#gameWon {
    #totalScore {color: $color-verde-light; }
}

#gameLost {
    #totalScore {color: $color-rojo-dark; }
    ul.actions li:last-child { @include hide-text(); }
}


@include keyframes(gameWonHeader){
    to {
        @include opacity(1);
        @include transform(scale(1));
    }
}
@include keyframes(gameTotalScore){
    to {
        @include opacity(1);
        @include transform(scale(1));
    }
}
@include keyframes(gameStars){
    to {
        @include opacity(1);
        @include transform(scale(1));
    }
}
@include keyframes(gameStar){to {@include transform(rotate(720deg)); } }

#intro {

    #ponupLogo {
        @include numbersSprite(-288px, -368px, 155px, 96px);
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        margin:auto;
        @include opacity(0);
        @include transform(rotate(-9deg) scale(.5));
        @include animation(0s, .2s, introAnim);
        -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
                animation-timing-function: ease-in-out;
    }
}

@include keyframes(introAnim) {
    to {
        @include opacity(1);
        @include transform(rotate(0deg) scale(1.1));
    }
}

#menu{
    position: absolute;
    top:0; left: 0;
    header, footer { 
        position: absolute;
        left: 0;
        width: 100%;
    }
    header {
        top:0; 
        height: 60%;
        background:
            
            url('../img/pattern_cloth.png') ,
            url('../img/bg_bolado.png') bottom center repeat-x,
            url('../img/bg_matel.png');
        @include transform(translateY(-500px));
        @include animation(0s, 0.5s, menuHeaderAnim);
        @extend .debug;
        #logo {
            @include numbersSprite(-144px, 0px, 368px, 368px);
            position: absolute;
            margin: auto;
            left: 0%; right: 0%; top:-50px;
            max-width: 100%;
            @include transform(rotate(-120deg));
            @include animation(0.2s, .6s, menuLogoAnim);
            @extend .debug;
        }
        #fork {
            background: url('../img/item_tenedor.png') top right ;
            position: absolute;
            
            right: 60%;  top:250px;
            width: 449px; height: 140px;
            background-size: cover;
            @include transform(rotate(0deg) translate(-200px,-100px) );
            @include animation(0.5s, 1s, menuForkAnim);
            @extend .debug;
        }
    }
    footer {
        bottom:0;
        height: 40%;
        @include transform(translateY(500px));
        @include animation(0.3s, 0.3s, menuFooterAnim);
        @include text-shadow();
        #startGame {
            cursor: pointer;
            position: absolute;
            top:0%; width: 100%;
            height: 50%;
            font-size: 1.5em;
            @extend .display-flex;
            color: $color-blanco-light;
            @extend .debug;
        }
        .actions {@include hide-text(); }
    }
}

i.scores {@include numbersSprite(-48px, -416px); }
i.options {@include numbersSprite(-96px, -416px); }
i.share {@include numbersSprite(-0px, -416px); }
i.arrow-left {@include numbersSprite(-0px, -368px); }
i.arrow-right {@include numbersSprite(-96px, -368px); }
i.replay {@include numbersSprite(-48px, -368px); }
i.hamburguer {@include numbersSprite(-0px, -320px); }
i.true {@include numbersSprite(-48px, -320px); }
i.false {@include numbersSprite(-96px, -320px); }

@include keyframes(menuHeaderAnim){to {@include transform(translateY(0px)); } }
@include keyframes(menuLogoAnim){to {@include transform(rotate(0deg)); } }
@include keyframes(menuForkAnim){
    to {
        @include transform(rotate(-30deg) translate(0px,0px) );
    } 
}
@include keyframes(menuFooterAnim){to {@include transform(translateY(0px)); } }

#scores, #options {
    @include text-shadow();
    h1 {
        color: white;
        position: absolute;
        height: 10%;
        margin: auto;
        width: 90%;
        top:10%; right: 0%; left: 0%;
        color: $color-blanco-light;
        font-size: 3em;
        @extend .display-flex;
        @extend .debug;
    }
}

#scores {

    table {
        width: 90%;
        position: absolute;
        margin: auto;
        height: 50%;
        top: 25%;
        left: 0%;
        right: 0%;
        @extend .debug;
        }
    th {color: #E35664; font-weight:normal; }
    td {color: white; @extend .debug; }

}

#options {
    .settings {
        width: 90%;
        position: absolute;
        margin: auto;
        height: 50%;
        top: 25%;
        left: 0%;
        right: 0%;
        @extend .debug;
    }
    
    .setting-on {background: url('../img/items/setting_on.png') no-repeat center center; }
    .setting-off {background: url('../img/items/setting_off.png') no-repeat center center; }

    dl{
        dt, dd {
            @extend .display-flex;
            width: 50%;
            height: 50%;
            float: left;
            color: $color-blanco-light;
            @extend .debug;
        }

    }
}

