@charset "UTF-8";

@import "colors";
@import "mixins";

html, body, #canvas, section {
	width: 100%;
	height: 100%;
    overflow: hidden;
}

section {
	max-width: 1080px;
    margin:auto;
    left: 0%; right: 0%;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0; padding: 0; box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 { font-weight: normal;}


ul { list-style-type: none; li { display: inline-block; } }
a { text-decoration: none; }

body {
    font-family:  'Fredoka One', Fredoka, "Fredoka", Fredoka One, 'HelveticaNeue', Helvetica, Arial, sans-serif;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:1.3em;
    text-align: center;
    background-color: $color-negro-light;
}


.hidden { display: none; }


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

// definiciones para el menu de acciones comunes a todas las escenas //

ul.actions {
            
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;right: 0%; margin:auto;
    bottom: 0;
    width: 100%;
    height: 140px;
    color: $color-rojo-light;
    li img {margin-bottom:5px;}
    li{width:33%; text-align: center; cursor:pointer;}
    li:first-child{float: left; }
    li:last-child{float: right; }
    li.hidden {display: none; }
}


// fin definiciones menu

#gameWon, #gameLost {
    position: relative;
    background: url('../img/bg_matel.png'), url('../img/bg_bolado.png') bottom center repeat-x;
    ul.actions {background: $color-negro-light; } 
    h1 {
        position: absolute;
        height: 20%;
        margin: auto;
        width: 90%;
        top:10%; right: 0%; left: 0%;
        color: $color-negro-dark;
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #stars { 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        height: 20%;
        bottom:30%; right: 0%; left: 0%;
        z-index: 10;
        img { margin: 15px;}
         }
    #starLeft, #starRight { height: 50px; }
    #totalScore {
        width: 50%;
        @include border-radius();
        position: absolute;
        border: 4px solid $color-rojo-light;
        border-bottom: 4px solid $color-rojo-dark;
        height: 20%;
        margin: auto;
        top:40%;bottom:40%; right: 0%; left: 0%;
        transition: font 0.3s ease;
        color: $color-verde-light;
        font-size: 3em;
        background: $color-blanco-light;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }
}


#gameWon {
    #totalScore {color: $color-verde-light; }
}

#gameLost {
    #totalScore {color: $color-rojo-dark; }
    ul.actions li:last-child { @include hide-text(); }
}




// :::::::: GAME INTRO SCENE :::::: // 
#intro {


    
    
    img {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        margin:auto;
        @include opacity(0);
        @include transform(rotate(-9deg) scale(.5));
        @include animation(0s, .2s, introAnim);
        -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
                animation-timing-function: ease-in-out;
    }
}

@include keyframes(introAnim) {
    to {
        @include opacity(1);
        @include transform(rotate(0deg) scale(1.1));
    } 
}

// :::::::: FIN GAME LOST SCENE :::::: // 


// :::::::: GAME MENU SCENE :::::: // 
#menu{
    position: absolute;
    top:0; left: 0;
    header {
        @include opacity(0);
        position: absolute;
        top:-100%; left: 0;
        width: 100%;
        height: 60%;
        background:
        url('../img/menu_header.png') top center no-repeat,
        url('../img/bg_bolado.png') bottom center repeat-x,
        url('../img/bg_matel.png');
    //background: url('../img/menu_header.png') top center no-repeat;
        @include animation(0s, 0.5s, menuHeaderAnim);
    }
    footer {
        @include opacity(0);
        width: 100%;
        position: absolute;
        bottom:-50%;
        left: 0;
        background: #434A54;
        height: 40%;
        text-align: center;
        @include animation(0.5s, 0.5s, menuFooterAnim);
        //background: url('../img/menu_cuchara.png') no-repeat 140% 80% #434A54; 
        @include text-shadow();
        #startGame {
            position: absolute;
            bottom:130px; right: 0%; left: 0%;
            font-size: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-blanco-light;
        }
        
    }
}

@include keyframes(menuHeaderAnim){to {top: 0%; @include opacity(1);} }
@include keyframes(menuFooterAnim){to {bottom: 0%;  @include opacity(1); } }

// :::::::: FIN GAME MENU SCENE :::::: // 

#scores, #options {
    position: relative;
    h1 {
        color: white;
        position: absolute;
        height: 10%;
        margin: auto;
        width: 90%;
        top:10%; right: 0%; left: 0%;
        color: $color-rojo-light;
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// :::::::: GAME SCORES SCENE :::::: // 

#scores {
    
    table { 
        width: 90%; 
        position: absolute;
        margin: auto;
        height: 60%;
        top: 25%;
        left: 0%;
        right: 0%;
        }
    th {color: #E35664; }
    td {color: white; }

}

// :::::::: FIN GAME SCORES SCENE :::::: // 



#options {
    .settings {
        width: 90%; 
        position: absolute;
        margin: auto;
        height: 60%;
        top: 25%;
        left: 0%;
        right: 0%;
    }
    div.setting {
        width: 65px;
        height: 65px;
    }

    div.setting-on {
        background-image: url('../img/items/setting_on.png');
    }

    div.setting-off {
        background-image: url('../img/items/setting_off.png');
    }
    h3 {color: white; }
    
    div.setting-row {
        clear: both;
        margin-bottom: 50px;
    
        div.setting-label {
            width: 50%;
            float: left;
            line-height: 65px;
            vertical-align: middle;
            text-align: right;
        }
        
        div.setting-control {
            width: 50%;
            float: left;
            text-align: center;
            
            div.setting {
                margin: auto;
            }
        }
    }

}



//@import 'scenes/intro';
//@import 'scenes/mainMenu';
@import 'scenes/options';
@import 'scenes/game';
//@import 'scenes/gameLost';
//@import 'scenes/gameWon';
//@import 'scenes/scores';

